@font-face {
    font-family: 'Snap ITC';
    url('webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
}

.snapITC {
    font-family: "Snap ITC";
}

.oswald-bold {
             font-family: "Oswald", sans-serif;
             font-optical-sizing: auto;
             font-weight: 400;
             font-style: normal;
         }

.fc-black {
    color: black;
}

.fc-white {
    color: white;
}
